<form class="form-horizontal" ng-submit="saveHotel()" >
    <div class="form-group">
        <label class="control-label col-md-2">Название</label>
        <div class="col-md-4">
            <input type="text" class="form-control" ng-model="hotel.name" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Число звезд</label>
        <div class="col-md-4">
            <input type="number" class="form-control" ng-model="hotel.stars" />
        </div>
    </div>
    <div class="from-actions">
        <input type="submit" class="btn btn-success" value="Сохранить" />
    </div>
</form>