<!DOCTYPE html>
<html lang="en" ng-app='travelerjs'>
    <head>
        <meta charset="UTF-8">
        <title>{{::title}}</title>
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    </head>
    <body ng-controller="IndexController">
        <div class="wrapper">
            <h1>{{title}}</h1>
            <div class="container">
                <button class="btn btn-primary" ng-click="toggleTourForm()">Добавить тур</button>

                <form class="form-horizontal" ng-submit="saveTour()" name="tour" ng-show="showForm" ng-hide="!showForm">
                    <div class="form-group">
                        <label class="control-label col-md-2">Заголовок</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="tour.title" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Страна</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="tour.country" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Цена</label>
                        <div class="col-md-4">
                            <input type="number" class="form-control" ng-model="tour.price" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Описание</label>
                        <div class="col-md-4">
                            <textarea class="form-control" ng-model="tour.text"></textarea>
                        </div>
                    </div>
                    <div class="from-actions">
                        <input type="submit" class="btn btn-success" value="Сохранить" />
                    </div>
                </form>

                <div ng-repeat="tour in tours" class="panel panel-default">
                    <div class="panel-heading">
                        <span class="title">{{tour.title}}</span>
                        <span class="pull-right price">{{tour.price | currency}}</span>
                    </div>
                    <div class="panel-body">
                        <p class="contry">{{tour.country}}</p>
                        <p class="text">{{tour.text}}</p>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>