<h1>{{title}}</h1>
<div class="container">
    <a ng-href="/admin/tours/new" class="btn btn-primary" >Добавить тур</a>
    <a ng-href="/admin/countries/new" class="btn btn-primary">Добавить страну</a>
    <a ng-href="/admin/places/new" class="btn btn-primary">Добавить место</a>
</div>
<select ng-model="tour.place" ng-change="filterTours()">
    <option ng-repeat="place in places" value="{{place.name}}" >
        {{place.name}}
    </option>
</select>
<div ng-repeat="tour in tours" class="panel panel-default">
    <div class="panel-heading">
        <a ng-href="/tours/{{tour.objectId}}" class="title">{{tour.title}}</a>
        <span class="pull-right price">{{tour.price | currency}}</span>
    </div>
    <div class="panel-body">
        <p class="contry">{{tour.Country.name}}, {{tour.place.name}}</p>
    </div>
    <div class="panel-footer">
        <a ng-href="/admin/tours/{{tour.objectId}}/edit" class="btn btn-success">Редактировать</a>
        <button class="btn btn-danger" ng-click="removeTour($index)">Удалить</button>
    </div>
</div>