<h1>{{title}}</h1>
<div class="container">
    <a ng-href="/admin/tours/new" class="btn btn-primary" >Добавить тур</a>
    <a ng-href="/admin/countries/new" class="btn btn-primary">Добавить страну</a>
</div>
<div ng-repeat="tour in tours" class="panel panel-default">
    <div class="panel-heading">
        <a ng-href="/admin/tours/{{tour.title}}" class="title">{{tour.title}}</a>
        <span class="pull-right price">{{tour.price | currency}}</span>
    </div>
    <div class="panel-body">
        <p class="contry">{{tour.country}}</p>
    </div>
    <div class="panel-footer">
        <a ng-href="/admin/tours/{{tour.title}}/edit" class="btn btn-success">Редактировать</a>
        <button class="btn btn-danger" ng-click="removeTour($index)">Удалить</button>
    </div>
</div>